* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.name{
  margin-top: 0;
}

#bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}
h1{
  font-family: 'Sacramento',cursive;
  font-size: 40px;
}
h2{
  font-family: "Montserrat", sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.Leo{
  padding-top: 20px;
  width: 25%;
  height: 25%;
}
.skill-pics{
  max-width: 300px;
  width: auto;
  height: 300px;
}
.skillList{
  width: 50%;
  height: auto;
  margin: 0 auto 0 auto;
}
.skills {
  display: inline;
}
.skill-row{
  display: inline-block;
  height: 600px;
  width: 400px;
  top:0px;
  vertical-align: text-top;
}
.bio{
  padding-bottom: 20px;
}
