
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.name{
  margin-top: 0;
}
.description{
  font-size: 2.5rem;
}
#bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#top_cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
  color: #40514E
}
h1{
  font-size: 592.5%;
  font-family: 'Sacramento',cursive;
  margin: 50px auto 0 auto
}
h2{
  font-family: "Montserrat", sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
 p{
   font-family: "Montserrat", sans-serif;
   margin-bottom: 40px;
 }
.Leo{
  padding-top: 50px;
  width: 25%;
  height: 25%;
}
.skill-pics1{
  width: 25%;
  float:left;
  padding-right: 30px;

}
.skill-pics2{
  width: 25%;
  float:right;
  padding-left: 30px;
}

.skills {
  display: inline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bio{
  width: 60%;
  margin: 0 auto 0 auto;
}
.name{
  padding-top: 30px;
  color: #66BFBF;
}
h2{
  font-size: 50px;
  color: #66BFBF;
  margin-bottom: 40px;
}
a{
  color:#11999E;
  text-decoration: none;
  display: inline;
  padding-right: 30px;
  margin: 0 auto 0 auto;
}
a:hover{
  color: #EAF6F6
}
h3{
  color:#11999F;
  margin-bottom: 40px;
}

.description{
  font-weight: normal;
}
.mySkills{
  margin-bottom: 10px;
}
.skills.coding{
  margin-top: 0;
}

.line{
  clear: right;
}
.greeting{
  padding-bottom: 20px;
}
hr{
  border-style: dotted;
  width:55px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: 7px;
  border-color: #D3D3D3;
  margin-top:150px;
  margin-bottom: 150px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
}
.copyright{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 15px;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #66bfbf;
	background:linear-gradient(to bottom, #66BFBF 5%, #48c4c4 100%);
	background-color:#48c4c4;
	border-radius:14px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:22px;
	font-weight:bold;
	padding:22px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin-bottom: 200px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #87D6DE 5%, #87D6DE 100%);
	background-color:#87D6DE;
}
.myButton:active {
	position:relative;
	top:1px;
}
